<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPEEDHUB</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <nav class="navbar">
        <div class="logo">
            SPEED<span>HUB</span>
        </div>

        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Buy Data</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Contact</a></li>
        </ul>

        <div class="buttons">
            <a href="#" class="login">Login</a>
            <a href="#" class="register">Register</a>
        </div>
    </nav>
<section class="hero">

    <div class="hero-content">

        <h1>
            Affordable Data Bundles
            <span>Across Ghana</span>
        </h1>

        <p>
            Buy MTN, Telecel, and AT data bundles instantly.
            Fast delivery, secure payments, and 24/7 support.
        </p>

        <div class="hero-buttons">
            <a href="#" class="buy-btn">Buy Data</a>
            <a href="#" class="create-btn">Create Account</a>
        </div>

    </div>

</section>
</body>
</html>